.section {
    padding-bottom: 30px;
}
.ne_invest_title {
    width: 1200px;
    margin: 0 auto;
}
.ne_invest_nav {
    width: 1200px;
    height: 115px;
    background: #fff;
    margin: 0 auto;
}
.ne_invest_title {
    height: 41px;
}
.ne_invest_title>li {
    width: 140px;
    height: 40px;
    line-height: 38px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-top: 2px solid transparent;
    float: left;
    text-align: center;
    cursor: pointer;
}
.ne_invest_title>li>a {
    color: #666;
}
.ne_invest_title>li:hover a {
    color: #ff5256;
}
.ne_invest_title>li.ne_invest_new {
    width: 918px;
    border-right: 0;
    text-align: left;
    cursor: auto;
}
.ne_invest_title>li.ne_nav_act {
    border-top: 2px solid #ff5256;
    border-bottom: 1px solid transparent;
    color: #ff5256;
}
.ne_invest_new>span {
    display: block;
    width: 57px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background: url(../images/ne-detail-new.png) no-repeat center;
    border-radius: 4px;
    margin-top: 7px;
}
.ne_invest_new>a:hover {
    color: #ff5256;
}
.ne_invest_list {
    margin-top: 20px;   
}
.ne_invest_list>li {
    margin-bottom: 10px;
}
.ne_invest_list>li>dl>dt {
    float: left;
    width: 95px;
    height: 30px;
    text-align: right;
    color: #333;
}
.ne_invest_list>li>dl>dd {
    position: relative;
    float: left;
    width: 60px;
    padding-left: 20px;
    height: 30px;
    margin-left: 10px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}
.ne_invest_list>li>dl>dd>span {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 2px;
    top: 5px;
    z-index: 1;
    background: url(../images/ne-detail-choose1.png) no-repeat center;
    cursor: pointer;
}
.ne_invest_list>li>dl>dd>span.ne-radio1 {
    background: url(../images/ne-detail-choose2.png) no-repeat center;
}
.ne_more_til {
    float: left;
    width: 95px;
    height: 30px;
    text-align: right;
    color: #333;
}
.ne_more_test>span {
    padding-top: 4px;
}
.ne_more_test {
    padding: 0 15px;
}
.ne_select {
    position: relative;
    z-index: 3;
}
.ne_me {
    padding-left: 10px;
    width: 50px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}
.ne_me>span {
    display: inline-block;
    vertical-align: top;
    line-height: 17px;
}
.ne_me_son {
    left: 0;
    top: 27px;
    position: absolute;
    width: 62px;
    line-height: 30px;
    text-align: center;
    box-shadow: 0px 2px 5px 1px #e3e3e3;
    display: none;
}
.ne_select .ne_me_jian {
    position: absolute;
    width: 12px;
    height: 7px;
    right: 7px;
    top: 11px;
    z-index: 1;
    background: url(../images/ne-index-down.png) no-repeat center;
    
}
.ne_me_son>li {
    background: #fff;
    cursor: pointer;
}
.ne_me_son>li>span {
    display: inline-block;
    vertical-align: top;
    line-height: 17px;
}
.ne_me_son>li:hover {
    color: #fff;
    background: #ff5256;
}
.ne_invest_month .ne_me {
    width: 100px;
}
.ne_invest_month .ne_me_son {
    width: 112px;
}
.ne_invest_day .ne_me {
    width: 100px;
}
.ne_invest_day .ne_me_son {
    width: 112px;
}
.ne_invest_main {
    width: 1200px;
    margin: 35px auto 0;
    background: #fff;
}
.ne_invest_en {
    width: 1200px;
    height: 40px;
    background: #fafafa;
    border-bottom: 1px solid #e6e6e6;
}