*{
	后台-财务的Main页面
}*

#{extends 'common/supervisorMain.html' /}
#{set AItem:5 /}

<!-- 二级导航 -->
<ul class="back-secnav">
	<li><a href="@{back.finance.ReleaseMngCtrl.showReleaseListPre()}">财务放款</a></li>
	<li><a href="@{back.finance.BillMngCtrl.showLoanBillsPre()}">借款账单</a></li>
	<li><a href="@{back.finance.InvestBillMngCtrl.showInvestBillsPre()}">理财账单</a></li>
	<li><a href="@{back.finance.UserWithdrawMngCtrl.showWithdrawLogsPre()}">会员提现</a></li>
	<li><a href="@{back.finance.UserRechargeMngCtrl.showRechargeLogsPre()}">会员充值</a></li>
	<li><a href="@{back.finance.ConversionMngCtrl.showConversionsPre()}">奖励兑换</a></li>
	<li><a href="@{back.finance.RedPacketRecordCtrl.showRedPacketRecordPre()}">红包记录</a></li>
	<li><a href="@{back.finance.PlateformDealMngCtrl.showPlateformDealsPre()}">平台收支</a></li>
	<li><a href="@{back.finance.FinanceSettingCtrl.toFinanceSettingPre()}">理财设置</a></li>
	<li><a href="@{back.finance.MerchantMngCtrl.toMerchantPre()}">商户号管理</a></li>
	<li><a href="@{back.finance.PaymentLogMngCtrl.showRequestLogsPre()}">托管记录</a></li>
	<li><a href="@{back.finance.FundCheckCtrl.showFundInfoPre()}">资金校对</a></li>
	<li><a href="@{back.finance.FundCheckCtrl.autoTenderCancelPre()}">投标撤销</a></li>
	<li><a href="@{back.finance.FundCheckCtrl.usrUnFreezePre()}">资金解冻</a></li>
</ul>

#{doLayout /}