<!-- 素材库弹窗 -->
<div class="dialog lib-dialog">
	<div class="dialog-bg"></div>
	<div class="dialog-cont">
		<div class="dialog-head"><span class="left">素材库图片</span><a href="javascript:void(0);" class="dialog-close hover-green">×</a></div>
		<div class="back-lib">
			<div class="back-lib-menu">
				<span class="selected">模板</span>
				<span>历史上传</span>
			</div>
			
			<!-- 模板素材 -->
			<div class="back-lib-cont">
				<div class="back-yscroll">
					<ul class="back-lib-imgs">
						<li class="back-imgbox">
							<img src="/public/back/images/example.png" width="300" height="150" alt="" title="" />
							<div class="back-imgcover"></div>
							<div class="back-imghandle">
								<a href="javascript:void(0);" class="iconfont chooseicon" data-title="选择">&#xe625;</a>
								<a href="javascript:void(0);" class="iconfont consoleicon" data-title="取消">&#xe624;</a>
								<a href="javascript:void(0);" class="iconfont deleteicon" data-title="删除">&#xe601;</a>
							</div>
						</li>
						<li class="back-imgbox selected">
							<img src="/public/back/images/example.png" width="300" height="150" alt="" title="" />
							<div class="back-imgcover"></div>
							<div class="back-imghandle">
								<a href="javascript:void(0);" class="iconfont chooseicon" data-title="选择">&#xe625;</a>
								<a href="javascript:void(0);" class="iconfont consoleicon" data-title="取消">&#xe624;</a>
								<a href="javascript:void(0);" class="iconfont deleteicon" data-title="删除">&#xe601;</a>
							</div>
						</li>
						<li class="back-imgbox">
							<img src="/public/back/images/example.png" width="300" height="150" alt="" title="" />
							<div class="back-imgcover"></div>
							<div class="back-imghandle">
								<a href="javascript:void(0);" class="iconfont chooseicon" data-title="选择">&#xe625;</a>
								<a href="javascript:void(0);" class="iconfont consoleicon" data-title="取消">&#xe624;</a>
								<a href="javascript:void(0);" class="iconfont deleteicon" data-title="删除">&#xe601;</a>
							</div>
						</li>
						<li class="back-imgbox">
							<img src="/public/back/images/example.png" width="300" height="150" alt="" title="" />
							<div class="back-imgcover"></div>
							<div class="back-imghandle">
								<a href="javascript:void(0);" class="iconfont chooseicon" data-title="选择">&#xe625;</a>
								<a href="javascript:void(0);" class="iconfont consoleicon" data-title="取消">&#xe624;</a>
								<a href="javascript:void(0);" class="iconfont deleteicon" data-title="删除">&#xe601;</a>
							</div>
						</li>
						<li class="back-imgbox">
							<img src="/public/back/images/example.png" width="300" height="150" alt="" title="" />
							<div class="back-imgcover"></div>
							<div class="back-imghandle">
								<a href="javascript:void(0);" class="iconfont chooseicon" data-title="选择">&#xe625;</a>
								<a href="javascript:void(0);" class="iconfont consoleicon" data-title="取消">&#xe624;</a>
								<a href="javascript:void(0);" class="iconfont deleteicon" data-title="删除">&#xe601;</a>
							</div>
						</li>
						<li class="back-imgbox">
							<img src="/public/back/images/example.png" width="300" height="150" alt="" title="" />
							<div class="back-imgcover"></div>
							<div class="back-imghandle">
								<a href="javascript:void(0);" class="iconfont chooseicon" data-title="选择">&#xe625;</a>
								<a href="javascript:void(0);" class="iconfont consoleicon" data-title="取消">&#xe624;</a>
								<a href="javascript:void(0);" class="iconfont deleteicon" data-title="删除">&#xe601;</a>
							</div>
						</li>
						<li class="back-imgbox">
							<img src="/public/back/images/example.png" width="300" height="150" alt="" title="" />
							<div class="back-imgcover"></div>
							<div class="back-imghandle">
								<a href="javascript:void(0);" class="iconfont chooseicon" data-title="选择">&#xe625;</a>
								<a href="javascript:void(0);" class="iconfont consoleicon" data-title="取消">&#xe624;</a>
								<a href="javascript:void(0);" class="iconfont deleteicon" data-title="删除">&#xe601;</a>
							</div>
						</li>
						<li class="back-imgbox">
							<img src="/public/back/images/example.png" width="300" height="150" alt="" title="" />
							<div class="back-imgcover"></div>
							<div class="back-imghandle">
								<a href="javascript:void(0);" class="iconfont chooseicon" data-title="选择">&#xe625;</a>
								<a href="javascript:void(0);" class="iconfont consoleicon" data-title="取消">&#xe624;</a>
								<a href="javascript:void(0);" class="iconfont deleteicon" data-title="删除">&#xe601;</a>
							</div>
						</li>
					</ul>
				</div>
				<p class="back-audit-btns">
					<input type="button" value="保存" class="bgbtn">
					<input type="button" value="取消" class="bdbtn dialog-console">
				</p>
			</div>
			
			<!-- 历史上传素材 -->
			<div class="back-lib-cont">
				<div class="back-yscroll">
					<ul class="back-lib-imgs">
						<li class="back-imgbox">
							<img src="/public/back/images/example.png" width="300" height="150" alt="" title="" />
							<div class="back-imgcover"></div>
							<div class="back-imghandle">
								<a href="javascript:void(0);" class="iconfont chooseicon" data-title="选择">&#xe625;</a>
								<a href="javascript:void(0);" class="iconfont consoleicon" data-title="取消">&#xe624;</a>
								<a href="javascript:void(0);" class="iconfont deleteicon" data-title="删除">&#xe601;</a>
							</div>
						</li>
					</ul>
				</div>
				<p class="back-audit-btns">
					<input type="button" value="保存" class="bgbtn">
					<input type="button" value="取消" class="bdbtn dialog-console">
				</p>
			</div>
		</div>
	</div>
</div>