#{extends 'common/front/frontLoginMain.html' /} #{set title:'忘记密码'/}
#{set AItem:0 /}
<div class="container register-box">
	<ul class="findpassword-step clearfix">
		<li class="done"><span class="step-circle">1</span>
			<p class="step-name">身份验证</p>
			<div class="step-split"></div></li>
		<li class="selected"><span class="step-circle">2</span>
			<p class="step-name">重置密码</p>
			<div class="step-split"></div></li>
		<li><span class="step-circle">✔</span>
			<p class="step-name">成功</p></li>
	</ul>
	<form action="@{front.LoginAndRegisteCtrl.forgetPwdThird()}"
		method="post" id="forgetSecond">
		<input type="hidden" id="scene" name="scene"
			value="${common.constants.SmsScene.PC_FORGET_PWD}"> <input
			type="hidden" id="smsCodeSign" name="smsCodeSign"
			value="${smsCodeSign}">
		<ul class="register-list">
			<li class="clearfix mb30"><span class="register-left left">
					<i class="important-point">*</i>新登录密码
			</span>
				<div class="register-wrap left">
					<input type="text" id="password" name="password" class="text"
						value="" placeholder="6~15位字母或数字组合区分大小写" maxlength="15"
						onpaste="return false" oncontextmenu="return false"
						oncopy="return false" oncut="return false" /> <i
						class="password-show" id="passwordShow"></i> <input type="hidden"
						value="${mobile}" id="mobile" name="mobile">
					<div class="password-level" id="passwordLevel">
						<span>弱</span> <span>中</span> <span>强</span>
					</div>
				</div></li>
			<li class="clearfix"><span class="register-left left">
					&nbsp; </span> <input type="submit" id="nextstepbtn" value="下一步"
				onclick="nextStep();" class="condition-btn btn left" /></li>
		</ul>
	</form>
	<p class="timeout-return">
		<a href="@{front.LoginAndRegisteCtrl.forgetPwdFirstPre()}"
			class="backpage"><i class="icon return-icon"></i>返回</a>
	</p>
</div>
<!-- 页面js -->
<script type="text/javascript"
	data-main="/public/front/javascripts/front.js"
	src="@{'public/front/javascripts/require.js'}"></script>
<script type="text/javascript">
	require([ 'front' ], function() {
		//判断密码强度
		require([ 'passwordLevel', 'validation/validateExt' ]);

		//密码显示隐藏
		if ('placeholder' in document.createElement('input')) {
			$('#password').on('input', function() {
				if ($(this).val() != '') {
					$('#passwordShow').show();
				} else {
					$('#passwordShow').hide();
				}
			}).trigger('input');
			$('#passwordShow').click(function() {
				if ($(this).hasClass('showpw')) {
					$(this).removeClass('showpw');
					$('#password').attr('type', 'password');
				} else {
					$(this).addClass('showpw');
					$('#password').attr('type', 'text');
				}
			});
			//密码框类型改变
			$("#password").focus(function() {
				if ($(this).attr("type") != "password") {
					$(this).attr("type", "password");
					$('#passwordShow').removeClass('showpw');
				}
			})
		} else {
			$('#passwordShow').hide();
		}

		$("#forgetSecond").validate({
			errorPlacement : function(error, element) {
				if (element.is("#password")) {
					$("p[id='password-error']").remove();
					$("input[id='password']").removeClass("focus").addClass("text-error");
					error.addClass('error register-error').appendTo(element.parent());
				}
			},
			success : function(label) {
				label.removeClass('error register-error');
				$(label).parent().children("input").eq(0).addClass("focus");
			},
			errorElement : 'p',
			rules : {
				"password" : {
					required : true,
					isPassWord : true,
					rangelength : [ 6, 15 ]
				}
			},
			messages : {
				"password" : {
					required : "密码不能为空",
					isPassWord : "密码格式不正确",
					rangelength : "密码格式不正确"
				}
			}
		});
	});
</script>
