#{extends 'common/front/frontLoginMain.html' /}
#{set title:'忘记密码'/}
#{set AItem:0 /}
			<div class="container register-box">
				<ul class="findpassword-step clearfix">
					<li class="done">
						<span class="step-circle">1</span>
						<p class="step-name">身份验证</p>
						<div class="step-split"></div>
					</li>
					<li class="done">
						<span class="step-circle">2</span>
						<p class="step-name">重置密码</p>
						<div class="step-split"></div>
					</li>
					<li class="selected">
						<span class="step-circle">✔</span>
						<p class="step-name">成功</p>
					</li>
				</ul>
				<p class="findepassword-success">
					<span class="timeout-note major"><i class="icon success-icon"></i>密码修改成功！<a href="@{front.LoginAndRegisteCtrl.loginPre()}" class="assistant">去登录</a>。</span>
				</p>
				<p class="timeout-return"><a href="@{front.LoginAndRegisteCtrl.loginPre()}" class="backpage"><i class="icon return-icon"></i>返回</a></p>
			</div>
		</div>
