<!DOCTYPE html>
<html>
	<head>
		<title>虹金所</title>
		<meta name="keywords" content="虹金所">
		<meta name="description" content="虹金所">
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<link rel="stylesheet" type="text/css" href="/public/front/stylesheets/front.css">
		<!-- 皮肤背景、颜色 -->
		<link rel="stylesheet" type="text/css" href="/public/front/themes/default/background.css" />
		<link rel="stylesheet" type="text/css" href="/public/front/themes/default/color.css" />
	</head>
	<body>
		<div class="http-error">
			<div class="http-main clearfix">
				<img src="/public/front/images/http-500.png" height="288" width="365" alt="" class="left">
				<div class="http-intro left">
					<p class="c9">非常遗憾，服务器暂时无法响应，<br>我们会尽早解决这个问题，错误代码500。<br/>建议您联系客服<br/><span class="major">400-637-6969</span></p>
					<div class="http-btns">
						<a href="javascript:window.history.back(-1);" class="refresh-btn"><i></i>刷新试试</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>