<!DOCTYPE html>
<html>
	<head>
		<title>#{get 'title'/}${' | '+settings?.get(common.constants.SettingKey.SEO_TITLE)+' | '+settings?.get(common.constants.SettingKey.PLATFORM_NAME)}</title>
		<meta name="keywords" content="${settings?.get(common.constants.SettingKey.PLATFORM_NAME)}" />
		<meta name="description" content="${settings?.get(common.constants.SettingKey.PLATFORM_NAME)}" />
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="shortcut icon" type="image/png" href="${settings?.get(common.constants.SettingKey.PLATFORM_ICON_FILENAME)}" />
		<link rel="stylesheet" type="text/css" href="@{'/public/front/stylesheets/front.css'}" />
		<link rel="stylesheet" type="text/css" href="/public/front/stylesheets/rules.css" />
				<!-- 皮肤背景、颜色 -->
		<link rel="stylesheet" type="text/css" href="@{'/public/front/themes/'+settings?.get(common.constants.SettingKey.THEME_NAME)+'/background.css'}" />
		#{if settings?.get(common.constants.SettingKey.THEME_CUSTOMIZE).equals('0')}
			<link rel="stylesheet" type="text/css" href="@{'/public/front/themes/'+settings?.get(common.constants.SettingKey.THEME_NAME)+'/color.css'}" />
		#{/if}
		
		#{get 'moreStyles' /}
		<!-- 皮肤背景、颜色 -->
		<script src="/public/front/javascripts/jquery-1.8.2.min.js"></script>
		<script type="text/javascript"> var isscore=false;</script>
		#{get 'moreScripts' /}	
		
		
	</head>
	<body>
		<div class="login-body bgf">
			   <!-- 头部部分 -->
	           <div class="header">
	                <div class="navbox bgf">
	                    <div class="gai_innerbox">
	                        <div class="container clearfix">
	                            <a href="@{front.FrontHomeCtrl.frontHomePre()}" class="logo mt25 left clearfix" title="" target="">
	                               <img src="${settings?.get(common.constants.SettingKey.PLATFORM_LOGO_FILENAME)}"  onerror="this.src='/public/front/images/logo.png'" height="56" class="left lazy" alt="logo">
	                            </a>
	                            #{if  islogin=='true'}
	                               <div class="right mt35">没有账号？ <a href="@{front.LoginAndRegisteCtrl.registerPre()}" class="go_shouye corange">免费注册</a></div>
	                           
	                        	#{/if}
	                        	#{elseif isemail=='true'}
	                        		<div class="right mt35"> <a href="@{front.FrontHomeCtrl.frontHomePre()}" class="go_shouye corange right">返回首页</a></div>
	                        	#{/elseif}
	                        	#{else}
	                        		 <div class="right mt35">已有账号！ <a href="@{front.LoginAndRegisteCtrl.loginPre()}" class="go_shouye corange">立即登录</a></div>
	                        	#{/else}
	                        </div>
	                    </div>
	                </div>
	            </div>
            <!-- 头部部分 -->
		<!-- main Content start -->
			#{doLayout /}
		<!-- main Content start -->
		
			<!-- 登录注册footer start -->
			<div class="footer-msg "  #{if  islogin=='true'}style="bottom:-70px;"#{/if}>
			    <div class="lop_link">
			        <a href="@{front.FrontHomeCtrl.aboutUsPre()}?index=0">公司简介</a>|
			        <a href="@{front.FrontHomeCtrl.aboutUsPre()}?index=5">联系我们</a>|
			         <a href="@{front.FrontHomeCtrl.financeInfoPre()}" >金融课堂 </a> |
			        <a href="@{front.FrontHomeCtrl.aboutUsPre()}?id=1">媒体报道</a>|
					<a href="@{front.FrontHomeCtrl.helpPre(1,'1')}">帮助中心</a>
			    </div>
			    <p>2016 ${settings?.get(common.constants.SettingKey.PLATFORM_NAME)} ${settings?.get(common.constants.SettingKey.SITE_ICP_NUMBER)} ${settings?.get(common.constants.SettingKey.COMPANY_NAME)}</p>
			    <p>地址：${settings?.get(common.constants.SettingKey.COMPANY_ADDRESS)}</p>
			</div>
			<!-- 登录注册footer end -->
		</div>
	</body>
</html>