<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		#{if customize}
		<title>#{get 'title' /}</title>
		<meta name="keywords" content="#{get 'keywords' /}" />
		<meta name="description" content="#{get 'description' /}" />
		#{/if}
		#{else}
		<title>#{get 'title' /}${' | '+settings?.get(common.constants.SettingKey.SEO_TITLE)+' | '+settings?.get(common.constants.SettingKey.PLATFORM_NAME)}</title>
		<meta name="keywords" content="${settings?.get(common.constants.SettingKey.SEO_KEYWORDS)}" />
		<meta name="description" content="${settings?.get(common.constants.SettingKey.SEO_DESCRIPTION)}" />
		#{/else}
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<link rel="shortcut icon" type="image/png" href="${settings?.get(common.constants.SettingKey.PLATFORM_ICON_FILENAME)}" />
		<link rel="stylesheet" type="text/css" href="@{'/public/front/stylesheets/front.css'}" />
		<link rel="stylesheet" type="text/css" href="@{'/public/front/stylesheets/rules.css'}" />
		<link rel="stylesheet" type="text/css" href="@{'/public/front/stylesheets/index.css'}" />
		<link rel="stylesheet" type="text/css" href="@{'/public/front/stylesheets/bank_btn.css'}" />
		<!-- 皮肤背景、颜色 -->
		<link rel="stylesheet" type="text/css" href="@{'/public/front/themes/'+settings?.get(common.constants.SettingKey.THEME_NAME)+'/background.css'}" />
		#{if settings?.get(common.constants.SettingKey.THEME_CUSTOMIZE).equals('0')}
			<link rel="stylesheet" type="text/css" href="@{'/public/front/themes/'+settings?.get(common.constants.SettingKey.THEME_NAME)+'/color.css'}" />
		#{/if}
		#{else}
			#{set mainColor:'#'+settings?.get(common.constants.SettingKey.THEME_MAIN_COLOR) /}
			#{set auxColor:'#'+settings?.get(common.constants.SettingKey.THEME_AUX_COLOR) /}
			#{set thdColor:'#'+common.utils.StrUtil.colorByAlpha(settings?.get(common.constants.SettingKey.THEME_MAIN_COLOR)) /}
			#{include 'common/front/colorCont.html' /}
		#{/else}
		
		#{get 'moreStyles' /}
		<!-- 页面js -->
		<script type="text/javascript" data-main="/public/front/javascripts/front.js" src="@{'public/front/javascripts/require.js'}" ></script>
		#{get 'moreScripts' /}		
</head>
	<body>

	 <!-- 头部部分 -->
   <div class="header">
        <div class="top">
            <div class="container">
                <div class="left fs12">
                    <img src="/public/front/images/new_images/top1.png" class="f-top-img1">
                    客服热线：${settings?.get(common.constants.SettingKey.COMPANY_TEL)}
                </div>
                <div class="right mr20">
                 <a href="@{front.FrontHomeCtrl.invitePre()}" class="left cbu">邀请好友</a>
                    <i class="left split-line"></i>
              	  <a href="@{front.FrontHomeCtrl.activePre()}" class="left cbu">新手好礼</a>
                    <i class="left split-line"></i>
                    <a href="@{front.FrontHomeCtrl.toActivityCenterPre()}" class="left cbu">活动中心</a>
                    <i class="left split-line"></i>
                    <a href="@{front.FrontHomeCtrl.helpPre(models.common.entity.t_help_center.Column.FINANCIAL_KNOWLEDGE.code,1)}" class="left cbu">帮助中心</a>
                    <i class="left split-line"></i>
					#{if currUser == null}
                    <a href="@{front.LoginAndRegisteCtrl.loginPre()}" class="cblue left">登录</a>
                    <i class="left split-line"></i>
                    <a href="@{front.LoginAndRegisteCtrl.registerPre()}" class="cblue left">注册</a>
                    #{/if}
                    #{else}
                    <i class="left split-line"></i>
                    <a href="@{front.account.MyAccountCtrl.homePre()}" class="cblue left ">${currUser?.name}</a>
                    <i class="left split-line"></i>
                    <a href="@{front.LoginAndRegisteCtrl.loginOutPre()}" class="cblue left">退出</a>
                     #{/else}
                </div>
            </div>
        </div>
        <div class="navbox bgf">
            <div class="gai_innerbox">
                <div class="container clearfix">
                    <a href="@{front.FrontHomeCtrl.frontHomePre()}" class="logo left clearfix" title="" target="">
                       	 <img src="${settings?.get(common.constants.SettingKey.PLATFORM_LOGO_FILENAME)}"  onerror="this.src='/public/common/default.jpg'" height="56" class="left" alt="logo" >
                        <div class="left f-logo2">
                            <img src="/public/front/images/new_images/logo2.png" height="49">
                        </div>
                    </a>
                    <ul class="gai_nav right clearfix">
                        <li ><a href="@{front.FrontHomeCtrl.frontHomePre()}" title="" target="" class="selected">首页</a></li>
                        <li class="gai_nav_act gai_tim relative">
                            <a href="@{front.invest.InvestCtrl.toInvestPre()}">我要出借</a>
                            <div class="gai_dropdown absolute bgf">
                                <ul>
                                    <li><a href="@{front.invest.InvestCtrl.toInvestPre()}">散标投资</a></li>
                                    <li><a href="@{front.invest.InvestCtrl.toDebtPre()}">债权转让</a></li>
                                </ul>
                            </div>
                        </li>
                        <li style="margin-left:20px;"><a href="@{front.LoanCtrl.toLoanPre()}" title="" target="">我要借款</a></li>
                        <li><a href="@{front.FrontHomeCtrl.toSafetyPre()}" title="" target="">安全保障</a></li>
                        <li><a href="@{front.FrontHomeCtrl.aboutUsPre()}" title="" target="">关于我们</a></li>
                        <li class="gai_nav_act gai_shequ relative">
                            <a href="@{front.newbie.NewbieCtrl.toNewbiePre()}">社区中心</a>
                            <div class="gai_dropdown absolute bgf">
                                <ul>
                                    <li><a href="@{front.newbie.NewbieCtrl.toNewbiePre()}">我是新手</a></li>
                                    <li><a href="@{front.mallFront.MallFrontCtrl.mallFrontPre()}">虹银商城</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
	<!-- header end -->

	<!-- main Content start -->
		#{doLayout /}
	<!-- main Content start -->

<!-- right bar -->
		
		<ul class="rightbar">
			<li class="goto-top">
				<div class="rightbar-box">
					<i class="icon top-icon"></i>
					<span class="rightbar-word">
						返回顶部
					</span>
				</div>
			</li>
			<li>
				<div class="rightbar-box">
					<i class="icon weixin-icon"></i>
					<span class="rightbar-word">
						关注微信
					</span>
				</div>
				<div class="rightbar-leftbox">
					<i></i>
					<i></i>
					<img src="/public/front/images/qr-paltform-wechat.png" width="100" height="100" align="" />
				</div>
			</li>
			<li>
				<div class="rightbar-box">
					<i class="icon weibo-icon"></i>
					<a target="_blank"  href="http://weibo.com/hjs360?refer_flag=1001030201_" class="rightbar-word">
						关注微博
					</a>
				</div>
			</li>
			<li>
				<div class="rightbar-box">
					<i class="icon kefu-icon"></i>
					<a target="_blank" class="rightbar-word">
						在线客服
					</a>
				</div>
				<div class="rightbar-kflist">
					<a class="rightbar-kflink" href="http://wpa.qq.com/msgrd?v=3&uin=${settings?.get(common.constants.SettingKey.COMPANY_QQ1)}&site=qq&menu=yes" target="_blank" title="客服01" ><img src="/public/front/images/kfimg.png" width="77" height="21" /></a>
					<a class="rightbar-kflink" href="http://wpa.qq.com/msgrd?v=3&uin=${settings?.get(common.constants.SettingKey.COMPANY_QQ2)}&site=qq&menu=yes" target="_blank" title="客服02" ><img src="/public/front/images/kfimg.png" width="77" height="21" /></a>
					<a class="rightbar-kflink" href="http://wpa.qq.com/msgrd?v=3&uin=${settings?.get(common.constants.SettingKey.COMPANY_QQ3)}&site=qq&menu=yes" target="_blank" title="客服03" ><img src="/public/front/images/kfimg.png" width="77" height="21" /></a>
				</div>
			</li>
			<li class="goto-end">
				<div class="rightbar-box">
					<i class="icon end-icon"></i>
					<span class="rightbar-word">
						跳到底部
					</span>
				</div>
			</li>
		</ul>
	<!-- right bar end -->

	<!-- footer start -->
    <div class="f-foot footer">
       <!--底部上部-->
        <div class="footer_top">
            <div class="fid_link mome">
                <h3>我的账户</h3>
                <div class="link_h">
                    <a href="@{front.account.MyAccountCtrl.homePre()}">账户中心</a>
                    <a href="@{front.account.MyFundCtrl.accountManagePre()}" title="" target="">资产管理</a>
                    <a href="@{front.account.MyInfoCtrl.toUserInfoPre()}" title="" target="">会员信息</a>
                </div>
                <div class="link_h">
                    <a href="@{front.account.MySecurityCtrl.securityPre()}" title="" target="">安全中心</a>
                    <a href="@{front.account.MyRewardCtrl.awardPre()}" title="" target="">我的奖励</a>
                </div>
            </div>
            <div class="fid_link">
                <h3>关于我们</h3>
                <div class="link_h">
                    <a href="@{front.FrontHomeCtrl.aboutUsPre()}?index=0">团队介绍</a>
                    <a href="@{front.FrontHomeCtrl.aboutUsPre()}?index=5">联系我们</a>
                    <a href="@{front.FrontHomeCtrl.aboutUsPre()}?index=4">加入我们</a>
                </div>
                <div class="link_h">
                    <a href="@{front.FrontHomeCtrl.aboutUsPre()}?index=2">新闻中心</a>
                    <a href="@{front.FrontHomeCtrl.helpPre(models.common.entity.t_help_center.Column.FINANCIAL_KNOWLEDGE.code,1)}">帮助中心</a>
                </div>
            </div>
            <div class="fid_link">
                <h3>移动端</h3>
                <div class="link_img">
                    <div class="left">
                        <img src="/public/front/images/fwh.jpg" alt="">
                        <p>微信服务号</p>
                    </div>
                    <div class="right">
                        <img src="/public/front/images/dyh.jpg" alt="">
                        <p>手机app</p>
                    </div>
                </div>
            </div>
             <div class="fid_link">
                <h3>联系我们</h3>
                <p style="margin-top:33px;">全国服务热线：</p>
                <p style="font-size:20px;">${settings?.get(common.constants.SettingKey.COMPANY_TEL)}</p>
                <p>周一至周五  8:30-20:00</p>
                <p>双休日及节假日  8:30-17:00</p>
            </div>
        </div>
        <!--底部上部-->
        <!--底部下部-->
        <div class="footer_bot">
            <div class="best_link">
                &nbsp;
            </div>
            <p style="text-align:center;">© 2016-2017版权所有   ${settings?.get(common.constants.SettingKey.PLATFORM_NAME)} ${settings?.get(common.constants.SettingKey.SITE_ICP_NUMBER)} ${settings?.get(common.constants.SettingKey.COMPANY_NAME)}
            &nbsp;&nbsp;&nbsp;&nbsp;地址：${settings?.get(common.constants.SettingKey.COMPANY_ADDRESS)}</p>
            <div class="w-footer-img block">
                <!--互联网金融行业认证 -->
                <!-- <a href="http://si.trustutn.org/info?sn=992160527000437391639" target="_blank">
                    <img src="/public/front/images//f1.png" align="">
                </a> -->
                <!-- 可信网站： -->
                <!-- <a href="https://ss.knet.cn/verifyseal.dll?sn=e1605303101176372757nn000000&amp;ct=df&amp;a=1&amp;pa=0.878792689880" target="_blank">
                    <img src="/public/front/images/f2.png">
                </a> -->
                <!-- 360安全认证 -->
                <a href="http://webscan.360.cn/index/checkwebsite/url/www.hjs360.cn" target="_blank"><img border="0" src="http://webscan.360.cn/index/checkwebsite/url/www.hjs360.cn%22%3E%3Cimg%20border=%220%22%20src=%22http://img.webscan.360.cn/status/pai/hash/fcaa5b0541f4af6309f50fb97ff8b4ed" width="110" height="40">
                <!-- 安全联盟行业认证 -->
                <a href="https://v.pinpaibao.com.cn/cert/site/?site=www.hjs360.cn&amp;at=business" target="_blank">
                    <img src="/public/front/images/f3.png">
                </a>
                <!-- ICP备案 -->
                <a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">
                    <img src="/public/front/images/f4.png">
                </a>
            </div>
            <p style="text-align:center;margin-top: 10px">投资有风险，理财需谨慎</p>
        </div>
        <!--底部下部-->
    </div>
	<!-- footer end -->
	<div style="display:none;" >
		${settings?.get(common.constants.SettingKey.BAIDU_CODE)?.raw()}
	</div>
	
		
	<div class="bank_tuo_bg">
	    <div class="bank_tuo_box">
	        <img src="@{'/public/front/images/actived/off.png'}" alt="" class="bank_check_off absolute">
	        <p>您已开通上海银行资金存管账户，请先激活</p>
	        <a href="@{front.account.MySecurityCtrl.bosAcctActivatePre()}" target="_blank" class="bank_check_btn">马上激活</a>
	    </div>
    </div>
	</body>
	
	<script type="text/javascript">
		require(['front'],function(front){
			
			#{if currUser?.is_real_name && !currUser?.is_actived}
				showActived();
			#{/if}
			
			$('.bank_check_off').click(function(){
		        $('.bank_tuo_bg').hide();
		    });
			    
			require(['domReady!'],function(doc){
				//字符串截取
				$(this).limit();
				
				front.navSelected(#{get 'AItem' /});
				front.secondNav(#{get 'smallclass' /});
				
				#{if flash?.success}
					weakDialog('${flash?.success}');
				#{/if}
				
				#{if flash?.error}
					alert('${flash?.error}');
				#{/if}
				
				//图片懒加载
				$("img.lazy").lazyload();
				
				//文本域换行 
				$(this).newline();
			});
			#{if settings?.get(common.constants.SettingKey.THEME_WIDGET)}
				require(["../themes/${settings?.get(common.constants.SettingKey.THEME_NAME)}/${settings?.get(common.constants.SettingKey.THEME_WIDGET)}"]);
			#{/if}
			
			$(function(){
				
				$(".nav-list-top").hover(function(){
			        var index = $(".nav-list-top").index($(this));
			        $(".nav-dropdown").eq(index).show();    
			    },function(){
			        var index = $(".nav-list-top").index($(this));
			        $(".nav-dropdown").eq(index).hide();    
			    })

                //顶部二维码
                $(".f-top-img3").hover(function(){
                    $(".f-top-ewm").show();
                },function(){
                    $(".f-top-ewm").hide();
                });
                //底部客服邮箱
                $(".f-foot-yx").hover(function(){
                    $(".f-foot-kfyx").show();
                },function(){
                    $(".f-foot-kfyx").hide();
                });
               $(".best_link").load("@{front.FrontHomeCtrl.friendShipLinkPre()}"); 
            })
		});
		function toHref(href,target){
			if(target == '_blank'){
				window.open(href);
			}else {
				window.location.href=href;
			}
		}
		
	    function showActived() {
	    	$('.bank_tuo_bg').show();
	    }
	</script>
	<script type="text/javascript" language="javascript">
    function Cookie(key, value) {
        this.key = key;
        if (value != null) {
            this.value = escape(value);
        }
        this.expiresTime = null;
        this.domain = null;
        this.path = "/";
        this.secure = null;
    }
    Cookie.prototype.setValue = function (value) {
        this.value = escape(value);
    }
    Cookie.prototype.getValue = function () {
        return (this.value);
    }
    Cookie.prototype.setExpiresTime = function (time) {
        this.expiresTime = time;
    }
    Cookie.prototype.getExpiresTime = function () {
        return this.expiresTime;
    }
    Cookie.prototype.setDomain = function (domain) {
        this.domain = domain;
    }
    Cookie.prototype.getDomain = function () {
        return this.domain;
    }
    Cookie.prototype.setPath = function (path) {
        this.path = path;
    }
    Cookie.prototype.getPath = function () {
        return this.path;
    }
    Cookie.prototype.Write = function (v) {
        if (v != null) {
            this.setValue(v);
        }
        var ck = this.key + "=" + this.value;
        if (this.expiresTime != null) {
            try {
                ck += ";expires=" + this.expiresTime.toUTCString();;
            }
            catch (err) {
                alert("expiresTime参数错误");
            }
        }
        if (this.domain != null) {
            ck += ";domain=" + this.domain;
        }
        if (this.path != null) {
            ck += ";path=" + this.path;
        }
        if (this.secure != null) {
            ck += ";secure";
        }
        document.cookie = ck;
    }
    Cookie.prototype.Read = function () {
        try {
            var cks = document.cookie.split("; ");
            var i = 0;
            for (i = 0; i < cks.length; i++) {
                var ck = cks[i];
                var fields = ck.split("=");
                if (fields[0] == this.key) {
                    this.value = fields[1];
                    return (this.value);
                }
            }
            return null;
        }
        catch (err) {
            alert("cookie读取错误");
            return null;
        }
    }
    window.onload = function () {
        var ck = new Cookie("HasLoaded"); //每个页面的new Cookie名HasLoaded不能相同
        if (ck.Read() == null) { //未加载过，Cookie内容为空
            window.location.reload();
            //设置保存时间
            var dd = new Date();
            dd = new Date(dd.getYear() + 1900, dd.getMonth(), dd.getDate());
            dd.setDate(dd.getDate() + 365);
            ck.setExpiresTime(dd);
            ck.Write("true"); //设置Cookie。只要IE不关闭，Cookie就一直存在
        }
        else { //Cookie存在，表示页面是被刷新的
           // alert("页面刷新")
        }
    }
</script>
</html>