<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运营报告${' | '+settings?.get(common.constants.SettingKey.SEO_TITLE)+' | '+settings?.get(common.constants.SettingKey.PLATFORM_NAME)}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <link rel="stylesheet" href="/public/front/stylesheets/myreport.css"/>
    <link rel="stylesheet" href="/public/front/stylesheets/myoperation.css"/>
    
</head>
<body>
<div id="box">
    <div class="yunying">
        <div class="yunying-circle"></div>
        <div class="yun_see">
            <img class="yun_btn yun_btn1" src="/public/front/images/yun_btn1.png" alt="">
            <img class="yun_btn yun_btn2" src="/public/front/images/yun_btn2.png" alt="">
            <img class="yun_btn yun_btn3" src="/public/front/images/yun_btn3.png" alt="">
            <img class="yun_btn yun_btn4" src="/public/front/images/yun_btn4.png" alt="">
        </div>
        <ul class="content">
            <li class="zi2">
                <img class="yun_bg" src="/public/front/images/yun_one1.png"/>
                <img src="/public/front/images/yun_one2.png" alt="" class="yun_one2">
                <img src="/public/front/images/yun_one3.png" alt="" class="yun_one3">
            </li>
            <li>
                <img  class="yun_bg" src="/public/front/images/yun_bg.png" alt="图片"/>
                <div class="yun_two_font1 yun_two_font">累计投资总额 <span> 66,782,592</span>元</div>
                <div class="yun_two_font2 yun_two_font">五月投资总额 <span> 11,380,415</span>元</div>
                <img class="yun_two1 yun_two" src="/public/front/images/yun_two1.png" alt="">
                <div class="yun_two_pic1"></div>
                <img class="yun_two2 yun_two" src="/public/front/images/yun_two1.png" alt="">
                <div class="yun_two_pic2"></div>
                <div class="yun_two_con">环比4月成交额增长率	<span>22.80%</span></div>
                <div class="yun_two_time">（截止5月31日）</div>
            </li>
            <li>
                <img  class="yun_bg" src="/public/front/images/yun_bg.png">
                <img src="/public/front/images/yun_thr1.png" alt="" class="yun_thr1 yun_thr">
                <div class="yun_thr_font yun_thr_font1">
                    <p>20684 <span>人</span></p>
                    <span>总注册人数</span>
                </div>
                <img src="/public/front/images/yun_thr2.png" alt="" class="yun_thr2 yun_thr">
                <div class="yun_thr_font yun_thr_font2">
                    <p>2894 <span>笔</span></p>
                    <span>当月投资笔数</span>
                </div>
            </li>
            <li>
                <img  class="yun_bg" src="/public/front/images/yun_bg.png"/>
                <div class="yun_for_til yun_for_til1">性别占比</div>
                <div class="yun_for_til yun_for_til2">年龄占比</div>
                <img src="/public/front/images/yun_for1.png" alt="" class="yun_for1">
                <img src="/public/front/images/yun_for2.png" alt="" class="yun_for2">
                <p class="yun_for_font1 yun_for_font">投资人性别占比</br>&nbsp;</p>
                <p class="yun_for_font2 yun_for_font">投资人年龄占比</br>&nbsp;</p>
            </li>
            <li>
                <img  class="yun_bg" src="/public/front/images/yun_bg.png"/>
                <p class="yun_five_til">投资人数地域占比图</p>
                <img src="/public/front/images/yun_five1.png" alt="" class="yun_five1 yun_five">
                <img src="/public/front/images/yun_five2.png" alt="" class="yun_five2 yun_five">
                <img src="/public/front/images/yun_five3.png" alt="" class="yun_five3 yun_five">
                <img src="/public/front/images/yun_five4.png" alt="" class="yun_five4 yun_five">
            </li>
            <li>
                <img  class="yun_bg" src="/public/front/images/yun_bg.png"/>
                <p class="yun_six_til">投资人投资金额地域占比图</p>
                <img src="/public/front/images/yun_six1.png" alt="" class="yun_six1 yun_six">
                <img src="/public/front/images/yun_sixt.png" alt="" class="yun_six2 yun_six">
                <img src="/public/front/images/yun_six2.png" alt="" class="yun_six3 yun_six">
                <img src="/public/front/images/yun_six3.png" alt="" class="yun_six4 yun_six">
            </li>
            <li>
                <img  class="yun_bg" src="/public/front/images/yun_bg.png"/>
                <div class="yun_sen_til">当月投资排名前三数据（龙虎榜）</div>
                <img src="/public/front/images/yun_sen1.png" alt="" class="yun_sen1 yun_sen">
                <img src="/public/front/images/yun_sen2.png" alt="" class="yun_sen2 yun_sen">
                <img src="/public/front/images/yun_sen3.png" alt="" class="yun_sen3 yun_sen">
            </li>
            <li>
                <img  class="yun_bg" src="/public/front/images/yun_bg.png"/>
                <div class="yun_eng_til">粉丝互动</div>
                <img src="/public/front/images/yun_eng1.png" alt="" class="yun_eng1 yun_eng">
                <img src="/public/front/images/yun_eng2.png" alt="" class="yun_eng2 yun_eng">
            </li>
            <li>
                <img  class="yun_nine" src="/public/front/images/yun_nine.png"/>
            </li>
        </ul>
        <div class="btn-next"></div>
        <div class="btn-prev"></div>
    </div>
</div>
<script src="/public/front/javascripts/jquery-1.12.1.min.js"></script>
<script src="/public/front/javascripts/myoperation.js"></script>
</body>
</html>